@media (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image: url('https://www.freepik.com/free-photo/flat-lay-office-desk-concept_5106190.htm#fromView=search&page=1&position=48&uuid=54dccb8d-8feb-42f9-a2a8-d90e9d0fc9fc'); /* Replace with your chosen background image URL */
    background-size:cover;
    background-attachment: fixed;
}

nav {
    background-color: rgba(111, 227, 219, 0.8);
    padding: 10px 0;
    font-weight: bolder;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style:none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content:flex-start;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: black(10, 122, 119);
    text-decoration: none;
    font-size: 18px;
    /* padding: 5px 10px; */
}

nav ul li a:hover {
    background-color: rgba(114, 166, 222, 0.622);
    border-radius: 5px;
}

h1 {
    color: black;
    text-align: center;
    margin-top: 100px;
}

p {
    font-size: 18px;
    color: #666;
    text-align: center;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #ffff00;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

footer {
    background-color: br;
    color: white;
    text-align:left;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
